<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyobo.mdm.common.dao.MenuMapper">

	<!-- 사용자별 메뉴 리스트 -->
	<select id="selectMenuList" resultType="Map" parameterType="String">
		SELECT DISTINCT ME.MENU_CD, ME.MENU_NM, ME.PARENT_MENU_CD, ME.PARENT_MENU_CD, ME.MENU_LEVEL, ME.PROGRAM_CD, PR.SRC_PATH
		  FROM BM_MENU ME LEFT OUTER JOIN BM_PROGRAM PR ON ME.PROGRAM_CD = PR.PROGRAM_CD
			   LEFT OUTER JOIN BM_PROGRAM_AUTHORITY AP ON PR.PROGRAM_CD = AP.PROGRAM_CD
			   LEFT OUTER JOIN HM_MEMBER_AUTHORITY MA ON AP.AUTHORITY_CD = MA.AUTHORITY_CD
		 WHERE ME.PROGRAM_CD IS NULL
			OR ME.PROGRAM_CD = ''
			OR MA.EMP_CD = '100001'
		   AND ME.IS_USE = 'Y'
		   AND PR.IS_USE = 'Y'
		 ORDER BY ME.MENU_CD, ME.SORT_ORDER
	</select>
	
</mapper>